.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.deals-section {
  display: flex;
  justify-content: space-between;
}

.deal-section {
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
}

.deal-card {
  border: 1px solid grey;
  background: aliceblue;
  padding: 10px;
  border-radius: 5px;

  margin-bottom: 10px;
}

.deal-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background: aliceblue;
  flex-direction: column;
}

.deals-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.media {
  display: flex;
  justify-content: space-evenly;
}

.media-image {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.search {
  margin: 0px 10px 10px 10px;
  justify-content: center;
}

.search-input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  background: aliceblue;
}
